#!/bin/sh

# eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh,gpg)
# export SSH_AUTH_SOCK

setbg &
# setxkbmap it -option caps:escape &
setxkbmap it -option caps:super && killall xcape 2>/dev/null ; xcape -e 'Super_L=Escape' &
xset r rate 300 50 &
unclutter &
# xsetroot -solid "#282828" &
sxhkd &
xcompmgr &
slstatus &
mpd &
dunst &



