vim/.config/nvim/plugged/
vim/.config/nvim/.netrwhist
abook/.config/abook/addressbook
newsboat/.config/newsboat/urls
qutebrowser/.config/qutebrowser/bookmarks/
calcurse/.config/calcurse/apts
calcurse/.config/calcurse/todo
qutebrowser/.config/qutebrowser/quickmarks
vifm/.config/vifm/scripts/
vifm/.config/vifm/vifm-help.txt
vifm/.config/vifm/vifminfo
ncmpcpp/.config/mpd/log
ncmpcpp/.config/mpd/pid
ncmpcpp/.config/mpd/database
taskwarrior/.config/taskwarrior/taskrc
taskwarrior/.config/taskwarrior/taskrc
ncmpcpp/.config/mpd/state
ncmpcpp/.config/mpd/sticker.sql
ncmpcpp/.config/ncmpcpp/error.log
taskwarrior/file./
beets/.config/beets/musiclibrary.db
abook/.config/abook/addressbook~
beets/.config/beets/state.pickle
qutebrowser/.config/qutebrowser/autoconfig.yml
anki/.local/share/Anki2/Utente 1/
anki/.local/share/Anki2/crash.log
transmission/.config/transmission-daemon/torrents/
transmission/.config/transmission-daemon/dht.dat
transmission/.config/transmission-daemon/resume/
w3m/.w3m/cookie
w3m/.w3m/history
README.md