[Desktop Entry]
Type=Application
Name=PDF reader
Exec=/usr/bin/zathura %u
mithxyz/voidrice/archi3/.local/share/applications/pdf.desktop">redirected</a>.</body></html>