[Desktop Entry]
Type=Application
Name=RSS feed addition
Exec=/usr/bin/env rssadd %U
idrice/archi3/.local/share/applications/rss.desktop">redirected</a>.</body></html>